<aside class="aside">
  <h3>Na skróty</h3>
	<ul>
    {{ range .Site.Menus.side }}
      <li><a href="{{.URL}}">{{.Name}}</a></li>   
    {{- end }}
    <span class="contact">Kontakt z nami</span>
    <li class="phone"><a href="tel:123123123" class="phone"><svg class="aside-icon"><use xlink:href="#mobile" /></svg>123-123-123</a></li>
    <li class="mail"><a href="mailto:kontakt@biurocenturion.com" class="mail"><svg class="aside-icon email"><use xlink:href="#mail" /></svg>kontakt@</br>biurocenturion.com</a></li>
  </ul>
</aside>