<footer class="footer border-stripe  border-stripe-top border-stripe-bottom ">
  <h3>Biuro Ochrony Biznesu Centurion</h3>
  <p class="contact-data"><a href="/" class="phone"><svg class="icon"><use xlink:href="#marker" /></svg>Ostrołęka ul. Korczaka 10, 07-409 Jabłonna</a></p>
  <p class="contact-data"><a href="tel:+48888766366" class="phone"><svg class="icon"><use xlink:href="#mobile" /></svg>+48 888 766 366</a></p>
  <p class="contact-data"><a href="mailto:kontakt@biurocenturion.pl" class="mail"><svg class="icon"><use xlink:href="#mail" /></svg>kontakt@biurocenturion.pl</a></p> 
</footer>
