<footer class="footer">
  <div class="row">
    <div class="column-1-2">
      <h4>Biuro Ochrony Centurion</h4>
      <p>adres</p>
      <p>telefon</p>
      <p>email</p>
    </div>
    <div class="column-1-2">
      <h4>Coś tam innego</h4>
      <p>jakiś text</p>
      <p>jakiś text</p>
      <p>jakiś text</p>
    </div>
  </div> 
</footer>
<!-- <span class="side-stripe side-stripe--left"></span>
<span class="side-stripe side-stripe--right"></span> -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "{{ $.Page.Title }}",
    "name": "Unlimited Ball Bearings Corp.",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-401-555-1212",
      "contactType": "Customer service"
    }
  }
  </script>