<footer class="footer border-stripe  border-stripe-top border-stripe-bottom ">
  <div class="row">
    <div class="column--1-3">
      <h4>Biuro Ochrony Biznesu Centurion</h4>
      <p>adres</p>
      <p>telefon</p>
      <p>email</p>
    </div>
    <div class="column-1-3">
      <h4>Coś tam innego</h4>
      <p>jakiś text</p>
      <p>jakiś text</p>
      <p>jakiś text</p>
    </div>
  </div> 
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114500181-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114500181-1');
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ProfessionalService",
    "name": "Biuro Ochrony Biznesu Centurion",
    "image": "http://www.centurion.pl/images/centurion.png",
    "@id": "",
    "url": "http://www.centurion.pl/",
    "telephone": "+48 888 766 366",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Leśna 17 D / 2",
      "addressLocality": "Jabłonna",
      "postalCode": "05-110",
      "addressCountry": "PL"
    },
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "00:00",
      "closes": "23:59"
    },
    "sameAs": "https://googlelink.pl"
  }
  </script>