@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,800|PT+Serif:400,400i,700,700i&subset=latin-ext');

body{
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  background: var(--body-background);
  color: var(--dark);
  line-height: 1.5;
  
}
:--headings{
  font-weight: var(--font-weight-bold);
  /* line-height:1.15; */
  margin:0;
  padding: 0;
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}
h1 {font-size: 2.074em;}

h2 {font-size: 1.728em;}
h3 {font-size: 1.44em;}
h4 {font-size: 1.2em;}
small, .font_small {font-size: 0.833em;}
p:not(.branding-name){
  /* font-size:18px; */
  margin: 0 0 1em 0;
  font-family: var(--font-serif);
}
a{ 
  color:var(--color-nav-link);
  text-decoration:none;
  &:hover{
    color:color(var(--color-nav-link) blackness(+50%));
  }
}
ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img{
  vertical-align: top;
}
.wrapper{
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  z-index: 0;
  position: relative;
}

.border-stripe{
  position: relative;
  &-top{
  border-top: calc(var(--unit)/3) solid transparent;
    &::before{
      @apply --stripe-border;
      top:-calc(var(--unit)/3);
      border-top-width: calc(var(--unit)/3);
      left: 0;
    }
    &--bold{
      border-top-width:calc(var(--unit)/2);
      &::before{
      top:-calc(var(--unit)/2);
      border-top-width: calc(var(--unit)/2);
      }
    }
  }
  &-bottom{
  border-bottom: calc(var(--unit)/3) solid transparent;
    &::after{
      @apply --stripe-border-alt;
      bottom:-calc(var(--unit)/3);
      border-bottom-width: calc(var(--unit)/3);
      left: 0;
    }
    &--bold{
      border-bottom-width:calc(var(--unit)/2);
      &::after{
      bottom:-calc(var(--unit)/2);
      border-bottom-width: calc(var(--unit)/2);
      }
    }
  }
}
.highlight{
  font-family: var(--font-sans);
  font-size: 23px;
  font-weight:300;
  padding: 20px; 
}
.has-shadow{
  position: relative;
    &::after {
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    bottom: -40px;
    content: "";
    background: radial-gradient(at 50% 0, rgba(0,0,0,0.2), transparent 70%);
    background-size: 100% 10px;
    background-repeat: no-repeat;
  }
}

/* ANIMATIONS */
@keyframes ring {
  10%,20%,30%, 40%, 50%, 60%, 70%, 80%{
    transform:rotate(10deg) scale(1);
  }
  15%,25%,35%, 45%, 55%, 65%, 75%,85%{
    transform:rotate(-10deg) scale(1.1);
  }
}
@keyframes mail {
  0%{
    left: 0 ;

  }
  5%{
    left: -70px ;
    bottom: 0;
  }
  10%{
    /* left:-30px; */
    bottom:-20px;
  }
  20%, 80%{
    bottom: -35px;
  }
  30%,70%{
    bottom:-42px;
  }
  40%, 60%{
    bottom:-43px;
  }
  50%{
    left: 40%;
    bottom:-44px;
    
  }
  95%{
    left:110%;
    bottom:-20px;
    opacity:1;
  }
  100%{
    opacity: 0;
    bottom:0;
    left:90%;
  }
}
@keyframes pop{
  0%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(-150%);
  }
  100%{
    transform:translateY(0);
  }
}
@keyframes left {
  0%{
    /* opacity:1; */
    /* transform: rotate(0) */
      
  }
  45%{
    /* left:45%; */
    /* transform: translateY(-50%); */
  }
  50%{
    /* left:50%; */
    /* width:30px; */
    /* transform: rotate(45deg) ; */
  }
  100%{
    /* left:30px; */
    /* transform:   translateX(-50%); */
    width:30px;
    transform: rotate(135deg) ;
    
  }
}
@keyframes right {
  0%{
    /* opacity:1; */
    /* transform: rotate(0) */
      
  }
  45%{
    /* left:45%; */
    /* transform: translateY(-50%); */
  }
  50%{
    /* left:50%; */
    /* width:30px; */
    /* transform: rotate(45deg) ; */
  }
  100%{
    /* left:30px; */
    /* transform:   translateX(-50%); */
    width:30px;
    transform: rotate(-135deg) ;
    
  }
}