@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,800|PT+Serif:400,400i,700,700i&subset=latin-ext');
body{
  font-family: var(--font-sans);
  font-size: 1.025rem;
  background: var(--body-background);
  color: var(--dark);
  line-height: 1.5;
}
:--headings{
  font-weight: var(--font-weight-bold);
  line-height:1;
  margin:0;
  padding: 0;
}
p{
  font-size:18px;
}
a{ 
  color:var(--color-nav-link);
  &:hover{
    color:color(var(--color-nav-link) blackness(+20%));
  }
}
/*.side-stripe{
  @media (--viewport-large){
    position: fixed;
    top:0;
    width:10px;
    height: 100vh;
    background:var(--dark);
    background-image: linear-gradient(45deg,var(--yellow) 25%,transparent 25%,transparent 50%,var(--yellow) 50%,var(--yellow) 75%,transparent 75%,transparent);
    &--left{
    left:0; 
    }
    &--right{
    right:0; 
    }
  }
}*/
.wrapper{
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}
.border-stripe{
  &-top{
  position: relative;
  border-top: 8px solid transparent;
    &::before{
      @apply --stripe-border;
      top:-8px;
      border-top-width: 8px;
    }
  }
}