.header{
  margin:var(--margin-large) var(--margin-small) 0;
  /* position: relative; */
  @media (--viewport-medium){
      margin:0 var(--margin-large);
      text-align: left;
    }
}
.branding{
  margin:0;
  display: flex;
  flex-direction: column;
  height:100vh;
  @media (--viewport-medium){
    flex-direction: row;
    height: auto;
    margin:var(--margin-large) 0 var(--margin-small);
  }
  &-logo{
    margin:auto;
    @media (--viewport-medium){
      margin:0;
    }
   & img{
      width:170px;
      height: 170px;
      @media (--viewport-medium){
        width: 170px;
        height: 170px;
        vertical-align: middle;
      }
    }
  }
  &-text{
    margin-bottom:auto;
    text-align: center;
    @media (--viewport-medium){
      margin:auto 0 auto var(--margin-large); 
      text-align: left;
    }
  }
  & h1{
    margin: 0;
  }
  &-name{
    /* font-size:2.0736em;
    font-size:2.4888em; */
    font-family: var(--font-serif);
    font-weight: var(--font-weight-bold);
    margin: 0;
  }
}
.menu-button-c{
  top:10px;
  right:10px;
  position: fixed;
  z-index: 11;
}
.menu-button{
  
  width:60px;
  height: 60px;
  position: relative;
  background-color: var(--yellow);
  border:0;
  border-radius:50%;
  color: var(--yellow);
  color: var(--dark);
  font-weight: var(--font-weight-bold);
  
  transition: all .2s linear;
  &.close{
    background-color: var(--white);
    /* transform:rotateY(360deg); */
    animation: pop .3s linear;
    color: var(--white);
    &::before{
      width: 30px;
      height: 2px;
      background: #202020;
      display: block;
      content: "";
      left: 50%;
      position: absolute;
      top: 50%;
      margin-left: -15px;
      margin-top: -1px;
      /* transition: all .5s cubic-bezier(.535,0,0,1) 0s; */
      animation: left .2s linear forwards .3s;
      
    }
    &::after{
      /* display:block;
      content:"";
      position: absolute;
      height: 2px;
      width: 30px;
      left:50%;
      top: 50%;
      margin-top:2px;
      transform:translate(-50%,-50%);
      background-color: red;
      animation: right .5s linear forwards 1s; */
      width: 30px;
      height: 2px;
      background: #202020;
      display: block;
      content: "";
      left: 50%;
      position: absolute;
      top: 50%;
      margin-left: -15px;
      margin-top: -1px;
      /* transition: all .5s cubic-bezier(.535,0,0,1) 0s; */
      animation: right .2s linear forwards .3s;
    }
  }
  @media (--viewport-medium){
    display: none;
  }
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
    z-index: 10;
    background-color: color(var(--dark) lightness(20%));
    display: flex;
    transform:translateX(-100%);
    transition: transform .3s ease-out;
  & ul{
    display: flex;
    flex-direction: column;
    margin: auto calc(var(--margin-large)*1.2);
  }
  & li {
    position: relative;
    display: inline-block;
    margin: calc(var(--margin-small)/4);
    font-weight: var(--font-weight-bold);
    font-size: calc(var(--unit)*1.2*1.2);
    overflow-x: hidden;
    & a{
      display: block;
      color: color(var(--yellow) blackness(10%));
      transform: translateY(var(--unit));
      transition: transform .3s ease-in-out .2s;
    }
    &.is-active::before{
      width:.5em;
      height: .5em;
      content:"";
      position: absolute;
      top: 0;
      left: -30px;
      background-color: var(--yellow);
      border-radius:50%;
      transform:translateY(100%);
    }
  }
  &.is-open{
    transform:translateX(0);
    
    & a{
      transform: translateY(0);
    }
  }
  
  @media (--viewport-medium){
  display: block;  
    & ul {
      display:flex;
      justify-content:space-around;
      /* margin-left:var(--margin-large); */
    }
    & a{
      font-family: var(--font-serif);
      font-weight: var(--font-weight-bold);
      color: var(--dark);
      
    }
  }
}
  