.header{
  margin:var(--margin-large) var(--margin-small) 0;
  @media (--viewport-medium){
      margin:0 var(--margin-large);
      text-align: left;
    }
}
.branding{
  margin:0;
  display: flex;
  flex-direction: column;
  height:100vh;
  @media (--viewport-medium){
    flex-direction: row;
    height: auto;
    margin:var(--margin-large) 0 var(--margin-small);
  }
  &-logo{
    margin:auto;
    @media (--viewport-medium){
      margin:0;
    }
   & img{
      width:170px;
      height: 170px;
      @media (--viewport-medium){
        width: 170px;
        height: 170px;
        vertical-align: middle;
      }
    }
  }
  &-text{
    margin-bottom:auto;
    text-align: center;
    @media (--viewport-medium){
      margin:auto 0 auto var(--margin-large); 
      text-align: left;
    }
  }
  &-name{
    font-size:40px;
    font-family: var(--font-serif);
    font-weight: var(--font-weight-bold);
  }
}
.menu-button{
  top:10px;
  right:10px;
  width:60px;
  height: 60px;
  position: absolute;
  background-color: var(--yellow);
  // background-color: transparent;
  border:0;
  // border:2px solid var(--dark);
  border-radius:50%;
  color: var(--yellow);
  color: var(--dark);
  font-weight: var(--font-weight-bold);

  @media (--viewport-medium){
    display: none;
  }
}
.menu{
  display: none;
  @media (--viewport-medium){
  display: block;  
    & ul {
      display:grid;
      grid-gap:10px;
      grid-template-columns:repeat(5,auto);
      margin-left:var(--margin-large);
    }
    & a{
      font-family: var(--font-serif);
      font-weight: var(--font-weight-bold);
      color: var(--dark);
      
    }
  }
}
  