.main-content{
  max-width:768px;
  margin:0 auto;
}
.main-image{
  margin: 0;
  padding: 0;
  & img {
    width:100%;
    height: auto;
  }
} 
.heading-decoration{
  background-color: var(--yellow);
  margin: 1rem 0;
  position: relative;
  @media (--viewport-medium){
    background-color: transparent;
  }
  & h2, & h3{
    position: relative;
    text-align: left;
    margin: 0 var(--margin-small);
    z-index: 1;
    @media (--viewport-medium){
      margin: 0 var(--margin-large);
    &::before{
      content:"";
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: var(--yellow);
      top: 0;
      left: 0;
      transform: translate(-40%,0);
      z-index: -1;
      border-radius:50%;
    }
  }
  }
}
.section{
  margin: 0 var(--margin-small);
  display: flex;
  flex-direction: column;
  padding: var(--padding-small) 0;
  /* border:1px solid transparent; */
  /* box-shadow:var(--box-shadow); */

  @media (--viewport-medium){
    margin: var(--margin-large);
    flex-direction: row;
    justify-content: space-between; 
  }
  & figure {
    margin: calc(var(--margin-small))  auto;
  }
  & figcaption {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
  }
}
.aside{
  max-width: 768px;
  margin: calc(var(--margin-small)*3) auto;
  @media (--viewport-medium){
    
  }
  & ul{
    
    margin: 0 var(--margin-small);
  }
  & .contact{
    display: block;
    margin:var(--margin-small) 0 var(--margin-small) calc(var(--margin-large)+.5rem);
    color:(--dark);
    font-weight: var(--font-weight-bold);
    color:crimson;
  }
  & a{
    background-color: color(var(--dark) lightness(20%));
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin:5px 0 0 calc(var(--margin-large)+.5rem);
    line-height: 1;
    font-weight: var(--font-weight-bold);
    padding:2px 5px;
    transition: color, transform  .25s ease;
    &::before{
      content:"";
      position: absolute;
      padding:2px;
      width:1em;
      height: 1em;
      background-color: var(--yellow);
      top: 0;
      left: -25px;
      border-radius:50% 0 0 50%;
      transition: background-color  .25s ease;
    }
    &:hover{
      transform:rotate(2deg);
      color:var(--white);
      background-color: var(--dark);
      &::before{
        background-color: var(--dark);
      }
    }
    /* &.phone, &.mail{
      margin-top:var(--margin-small);
      &::before {
        border-radius:0;
        width:27px;
        height:27px;
        mask:url("/images/mobile.svg");
        mask-size: contain;
        background-color: crimson;
        mask-repeat: no-repeat;
        mask-position: top left;
      }
    }
    &.mail{
      &::before{
        mask:url("/images/mail.svg");
        left: -30px;
      }
    } */
  }
}
.section + .section{
  margin-top:5rem;
}
.footer{
  background-color: color(var(--dark) lightness(+80%));
  padding: var(--padding-small);
  @media (--viewport-medium){
    padding: var(--padding-large);
  }
  & h4{
    margin-bottom: var(--margin-small);
  }
  & p {
    font-family: var(--font-sans);
    margin:0;
  }

}
@supports (display: grid) {
  main{
    display: grid;
     grid-template-columns: 70% 30%;
    /*grid-template-area: */
    /* grid-template-columns: var(--margin-small) auto var(--margin-small); */
    grid-template-areas: 
    "image image"
    "text text"
    "aside aside"
    "section section";
    @media (--viewport-medium){
      grid-template-areas: 
    "image image"
    "text aside"
    "section section";
    }
  }
  .main-image{
    grid-area: image;
  }
  .main-content {
    grid-area: text;
    max-width: 100%;
  }
  .aside{
    grid-area: aside;
    width: 100%;
     @media (--viewport-medium){
       margin-top:0;
     }
  }
  .section{
    grid-area: section;
  }
  
}