.heading-decoration{
  background-color: var(--yellow);
  /* background-color: color(var(--dark) lightness(90%)); */
  /* transform: skewX(-45deg) ; */
  margin: 1rem 0;
  position: relative;
  /* &::before{
    content:"";
    border-width: 50px 50px 0 0;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: -50px;
    border-style: solid;
    border-color: transparent #e4002b transparent transparent;
  } */
  @media (--viewport-medium){
    background-color: transparent;
  }
  & h2, & h3{
    /* transform: skew(45deg); */
    /* display: inline-block; */
    /* text-indent:20px; */
    /* padding-left: 32px; */
    position: relative;
    text-align: left;
    margin: 0 var(--margin-small);
    z-index: 1;
    @media (--viewport-medium){
      margin: 0 var(--margin-large);
    &::before{
      content:"";
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: var(--yellow);
      top: 0;
      left: 0;
      transform: translate(-40%,-8%);
      z-index: -1;
      border-radius:50%;
    }
  }
  }
}
aside{
  background-color: color(var(--dark) lightness(95%));
  & ul{
    margin: 0 var(--margin-small);
  }
  & a{
    text-transform: uppercase;
  }
}