<!doctype html>
<html lang="pl-PL">

  {{ block "head" .}}

  {{ end }}
  <body class="{{ if .IsPage  }}page{{end}}">
    <div class="wrapper full-width border-stripe border-stripe-top">
      {{ block "header" . }}

      {{ end }}

      {{ block "main" . }}
      
      {{ end }}

      {{ block "footer" . }}
      
      {{ end }}

    </div>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114500181-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114500181-1');
    </script> -->
    <script async src="app.js"></script>
  </body>
  </html>