<!doctype html>
<html lang="pl-PL">
  <head>
      
    <meta charset="utf-8">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Page.Title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css"/>
    <meta name="google-site-verification" content="dNLjUUl60Dfcjqi2-0g075ToACnePh4rfQJBP8bf9Cs" />
  </head>
  <body class="{{ if .IsPage  }}page{{end}}">
    <div class="wrapper full-width border-stripe border-stripe-top">
      {{ block "header" . }}

      {{ end }}

      {{ block "main" . }}
      
      {{ end }}

      {{ block "footer" . }}
      
      {{ end }}

    </div>
    <script src="app.js"></script>
  </body>
  </html>