{{ define "head" }}
  {{ partial "head" . }}
{{ end}}

{{ define "header" }}
  {{ partial "header" . }}
{{ end}}

{{ define "main" }}
  <main>
    {{if .Params.image}}
    <figure class="main-image">
      <img src="{{ .Params.image}}" alt=".Title">
    </figure>
    {{ end}}
    {{if .Params.map }}
      {{ partial "map" .}}
    {{end}}

    <article class="main-content">
        {{.Content}}
    </article>
    {{ partial "aside" . }}
    {{ partial "section" . }} 
  </main>
  {{ partial "footer" . }}

{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end}}

