{{ define "head"}}
  {{ partial "head" .}}
{{ end }}
{{ define "header"}}
  {{ partial "header" .}}
{{ end }}

{{ define "main" }}
  <main class="home">
    <figure class="main-image">
      
      <img srcset="/images/mainx450.jpg 450w"
           sizes="(max-width: 450px) 450px"
            src="/images/main.jpg" alt="{{ .Site.Title }}" title="{{ .Site.Title }}">
    </figure>
    <div class="main-content">
        <section>
            <h2>Biuro Centurion</h2>
            <p>Biuro Centurion to firma z wieloletnim stażem, działająca na podstawie <strong>koncesji nr L-0073/15</strong> wydanej przez <strong>Ministra Spraw Wewnętrznych</strong>.</p>
            <p>W sektorze bezpieczeństwa działamy zarówno na rzecz klientów indywidualnych, jak  i dla zorganizowanych podmiotów zewnętrznych. </p> 
            <p>Z naszą szeroką ofertą zapoznacie się Państwo za pośrednictwem odpowiednich zakładek. </p>
            
        </section>
        
      </div>
      {{ partial "aside" . }}
      {{ partial "section" . }}    
  </main>
  
  
 
{{ end }}
{{ define "footer"}}
  {{ partial "footer" . }}
{{ end }}