{{ define "header"}}
  {{ partial "header" .}}
{{ end }}

{{ define "main" }}
  <main class="home">
    <div class="main-content">
      <figure class="">
        <img src="https://source.unsplash.com/random/1200x400" alt="">
      </figure>
      <section>
        <header class="heading-decoration">
            <h2>Biuro ochrony Centurion to super biuro</h2>
        </header>
        <div class="section-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ratione minus, cupiditate id laboriosam nemo, distinctio nam repudiandae dolores voluptates qui sint assumenda, eveniet consequuntur. Aspernatur fuga eligendi possimus corporis!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ratione minus, cupiditate id laboriosam nemo, distinctio nam repudiandae dolores voluptates qui sint assumenda, eveniet consequuntur. Aspernatur fuga eligendi possimus corporis!
          Ipsam esse praesentium odit dolor explicabo reprehenderit nisi. Eligendi minima reprehenderit deleniti magnam ea id, repudiandae voluptas voluptatibus mollitia exercitationem rem, ipsam soluta alias ratione fugit tenetur est odio neque.
          </p><p>Aperiam reiciendis laudantium, dicta ea aut incidunt officia obcaecati consequatur aliquid harum ipsum id voluptatibus quia illum molestias? Exercitationem voluptatibus sunt quae pariatur at facilis unde minus voluptas dolorum nemo.
          Deleniti reprehenderit facere eveniet necessitatibus enim. Quo, itaque aliquam explicabo quis cupiditate ad esse pariatur neque quasi, totam soluta facilis vel temporibus quia ipsa fugit deleniti optio, eveniet et suscipit.
          Animi perferendis omnis doloribus a! Alias soluta suscipit possimus eius, minima facilis nesciunt reprehenderit, magnam adipisci exercitationem totam. Hic fugit voluptatem dolore quaerat temporibus, necessitatibus commodi fuga esse facilis suscipit!</p>
        </div>
      </section>  
      {{ partial "aside" . }}
    </div>   
  </main>
  
  
  {{ partial "footer" . }}
{{ end }}